<div class="center">
        <table class="center">
            <tr>
                <td>
                    <ul>
                        <img onclick="createPianoNotes();" src="/piano-pro/rec/all_notes.png" alt="Piano Notes">
                    </ul>
                </td>
                <td>
                    <ul>
                        <img onclick="createPitchPerfect();" src="/piano-pro/rec/pitch_perfect.png" alt="Pitch Perfect">
                    </ul>
                </td>
                <td>
                    <ul>
                        <img onclick="createTreble();" src="/piano-pro/rec/treble.png" alt="treble">
                    </ul>
                </td>
            </tr>
        </table>
    </div>