<div class="container">
    <div class="staff-container">
        <!-- Staff lines -->
        <div class="staff">
            <div class="staff-line"></div>
            <div class="staff-line"></div>
            <div class="staff-line"></div>
            <div class="staff-line"></div>
            <div class="staff-line"></div>
        </div>
        
        <!-- Treble clef and notes will be placed here -->
        <div class="music-content">
            <div class="treble-clef"></div>
            <div id="note-display"></div>
        </div>
    </div>
    <div class="controls">
        <button id="start-button">Start Game</button>
    </div>
</div>
<script src="../scripts/treble.js"></script>